<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main') }}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('main') }}">Main</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a>
            </li>
          </ul>
        </div>
          <div>
              <h6>Welcome ! {{ username }}</h6>
          </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-7 bg-info">
            <div class="row">
                <div class="col-sm">
                    <form action="/show-image" method = "POST" enctype = "multipart/form-data">
                        <div class="mb-3">
                            <label for="file" class="form-label">Image: </label>
                            <input type="file" id="file" name="file">
                        </div>
                        <button type="submit" class="btn btn-primary">Show Image</button>
                        {% if show %}
                            <!--img src="{{ user_image }}" class="card-img-bottom" width="500" height="400"-->
                            <img src="{{ url_for('display_image', filename=filename) }}" class="card-img-bottom" width="500" height="400">
                        {% endif %}
                    </form>
                </div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary">upload</button>
                </div>
            </div>
        </div>
      </div>
    </div>
</body>

</html>